:root{
    --main-color:#A660D1;
    --page-bg-color:#0A0C1B;
    --card-bg-color:#1C1938;
    --text-color: #FBFCFC;
    --color-supplied: hsl(228, 45%, 44%);
}
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--page-bg-color);
    color: var(--text-color);
    padding: 13rem;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
#card{
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    

}
#text{
    padding: 7rem;
    display: block;
    max-width:100%;
}


h1{
    font-weight: 700;
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 3rem;
}
#important-span{
    color:var(--color-supplied);
}
#para{
    font-size: medium;
    font-weight: 400;
    text-align: left;
    margin-bottom: 3rem;
    line-height: 3rem;
    text-align: left;

}
#stats{
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}
.statistics{
    padding-left: 3rem
}
.num{
    font-weight: 900;
    display: block;
}
    




#image{
    width: 100%;;
    height:auto;
    background-image: url(/images/image-header-desktop.jpg);
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.attribution{
    display:none;
}
 @media screen and (min-device-width: 481px) and (max-device-width: 768px) {

    body{
        overflow-y: auto;
        padding:2rem;
    }
    #card{
        flex-direction: column-reverse;
    }
    #image{
        max-width: 100%;
        height: 200px;
        background-image: url(/images/image-header-mobile.jpg);
        opacity: 0.4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin:0px;
        padding: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }
}
@media (max-width: 481px) 
{
    body{
        font-size: 1rem;
        overflow-y: auto;
        text-align: center;
        padding: 3rem;
    
    }
    #card{
        flex-direction: column-reverse;
    }
    #image{
    max-width: 100%;
    height: 200px;
    background-image: url(/images/image-header-mobile.jpg);
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
}
h1{
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
}
#stats{
    flex-direction: column;
    margin: 0;
    
}
.statistics{
    margin-bottom: 3rem;
    padding:0;
}
#text{
    padding: 3rem;
}
 
}